
tryPeax.code-workspace
assets/images/cards/_backs/Thumbs.db
assets/images/cards/_backs/1r.png
assets/images/cards/_backs/1ppl.png
assets/images/cards/_backs/1pk.png
assets/images/cards/_backs/1or.png
assets/images/cards/_backs/1gn.png
assets/images/cards/_backs/1gld.png
assets/images/cards/_backs/1g.png
assets/images/cards/_backs/1b.png
assets/images/cards/__originals/cards.fw.png
assets/images/cards/__original Default Card Set/__unlockables/unlockable.png
assets/images/cards/__original Default Card Set/__unlockables/unlockable.json
assets/images/cards/__original Default Card Set/__ALL/cardset.png
assets/images/cards/__original Default Card Set/__ALL/cardset.json
